In [7]:
import pandas as pd  
import numpy as np

In [8]:
dataset=pd.read_csv("zonefinal.csv")

In [9]:
data = dataset['Distric']

In [10]:
data

0                South Andamans
1                     Nicobars
2      North and Middle Andaman
3                       Kurnool
4                        Guntur
                 ...
740                         NaN
741                         NaN
742                         NaN
743                         NaN
744                         NaN
Name: Distric, Length: 745, dtype: object

In [11]:
data

0                South Andamans
1                     Nicobars
2      North and Middle Andaman
3                       Kurnool
4                        Guntur
                 ...
740                         NaN
741                         NaN
742                         NaN
743                         NaN
744                         NaN
Name: Distric, Length: 745, dtype: object

In [12]:
df = pd.DataFrame(data)

In [13]:
df

                      Distric
0              South Andamans
1                   Nicobars
2    North and Middle Andaman
3                     Kurnool
4                      Guntur
..                        ...
740                       NaN
741                       NaN
742                       NaN
743                       NaN
744                       NaN

[745 rows x 1 columns]

In [14]:
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim

In [15]:
longitude = [] 
latitude = []

In [23]:
def findGeocode(Distric):
     try: 
            geolocator = Nominatim(user_agent="location of Distric") 
            return geolocator.geocode(Distric) 
        except GeocoderTimedOut: 
            return findGeocode(Distric)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)